body{
	background-color: rgb(153, 153, 153);
	color: black;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
	margin: 0rem;
}

main{
	margin: 50px;
	margin-right: 20%;
}

nav{
	background-color: rgb(49, 151, 209);
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 50px;
	border-bottom: solid 2px white;
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
nav a{
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav a:hover {
	background-color: rgb(0, 57, 90);
	color: rgb(49, 151, 209);
  }

nav img{
	width: 75px;
}

a{
	color: black;
	font-weight: bolder;
	text-decoration: none;
}

a:hover{
	color:white;
}

img{
	border-radius: 15px;
	border: 2px solid rgb(49, 151, 209);;
	padding: 5px;
	width: 40%;
}

footer{
	text-align: center;
  	padding: 3px;
  	background-color: rgb(49, 151, 209);
  	color: black;
	font-weight: bolder;
	border-top: white;
	border-top: solid;
}

h1{
	color: rgb(0, 57, 90);
	text-align: left;
}

h3{
	color: white;
	text-align: left;
}